*{
margin:0;
padding:0;
box-sizing:border-box; 
}
.main_container{
width:100%;
height:100%;
}
header{
height:90px;
display:flex;
align-items:center;
justify-content:start;

}
.logo{
padding:50px;	
}
.logo img{
width:110px;
height:30px;
}	

.sub_container{
min-width:330px;
min-height:446px;
box-shadow:0px 0px 10px #D4D3CA;
border-radius:5px;
}
.flex_container{
width:100%;	
height:76vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:40px;
}
.login{
width:290px;
margin:0 auto;
/* background-color:red; */
}
.login .content h3{
font-family: sans-serif;
letter-spacing:1px;
font-size:22px;
line-height:28px;
}
.content{
padding:15px 0px;	
}
.login .content p{
margin-top:5px;	
font-size:12px;
font-family: sans-serif;
letter-spacing:0.5px;
}
.forget{
margin-top:5px;	
}
.box-1 input{
width:100%;
height:40px;
border:none;
outline:none;
padding-left:10px;
font-size:15px;
font-family:sans-serif;
color:
}
.box-1{
border:1px solid #63635F;
border-radius:3px;
overflow:hidden;
}
::placeholder{
padding-left:2px;	
}
.box-2 input{
width:240px;
height:40px;
border:none;
outline:none;
padding-left:10px;
font-size:15px;
font-family:sans-serif;
}
.box-2{
margin-top:22px;	
display:flex;
border:1px solid #63635F;
border-radius:3px;
overflow:hidden;
}
.box-2 button{
display:inline-block;
padding:5px 10px;
border:none;
font-weight:bold;
color:#0B66C3;
background-color:white;
cursor:pointer;
}
.forget a{
display:inline-block;
margin-top:12px;
text-decoration:none;
color:#0B66C3;
font-weight:bold;
font-family:sans-serif;
font-size:14px;
}
.sign-in a{
margin-top:24px;	
text-align:center;
text-decoration:none;
display:inline-block;
width:100%;
padding:13px 0px;
background-color:rgb(10,102,195);
color:white;
font-family:sans-serif;
font-weight:bold;
font-size:15px;
border-radius:50px;
transition:0.5s;
}
.sign-in a:hover{
background-color:#1E517B;
transition:0.5s;
}
.line{
margin-top:18px;
width:100%;
height:1px;
background-color:#B9B9B9;
}

.or{
text-align:center;	
display:flex;
justify-content:center;
align-items:center;
width:40px;
height:22px;
background-color:white;
color:rgb(10,102,195);
font-family:sans-serif;
font-weight:bold;
}
.flex{
position:relative;
bottom:11px;
display:flex;
justify-content:center;
}
.google a{
text-decoration:none;
background-color:white;
font-family:sans-serif;
padding:11px 0px;
display:inline-block;
width:100%;
color:#4A4D4F;
font-weight:bold;
text-align:center;
border-radius:50px;
box-shadow:inset 0px 0px 5px gray;
transition:0.5s;
}
.google a:hover{
background-color:rgba(5, 5, 5,0.1);
transition:0.5s;
}
.apple a:hover{
background-color:rgba(5, 5, 5,0.1);
transition:0.5s;
}
.apple a{
margin-top:13px;
text-decoration:none;
background-color:white;
font-family:sans-serif;
padding:11px 0px;
display:inline-block;
width:100%;
color:rgba(9, 9, 9,0.5);
font-weight:bold;
font-family: 'Lato', sans-serif;
text-align:center;
border-radius:50px;
box-shadow:inset 0px 0px 5px gray;
transition:0.5s;
}
.apple a{
display:flex;
align-items:center;
justify-content:center;
}
.google a{
display:flex;
align-items:center;
justify-content:center;
}
.google img{
margin-right:8px;
width:15px;
height:15px;
}
.apple .fa-brands {
margin-right:8px;
color:black;
font-size:20px;
}
.link span{
font-family:sans-serif;
font-weight:bold;
color:rgba(21, 22, 23,0.8);
font-size:15px;
}
.link a{
text-decoration:none;
font-family:sans-serif;
font-weight:bold;
color:#0B66C3;
padding-left:5px;
font-size:15px;
}
.terms{
display:flex;
align-items:center;
gap:10px;
}
.terms span img{
width:15px;
height:15px;
padding-left:1px;
}
.content-1 span:first-child{
font-weight:bold;
font-family:sans-serif;
font-size:15px;
}
.content-1 span:nth-child(2){
font-family:sans-serif;
font-size:12px;	
}
.content-2 span{
font-size:13px;	
font-family:sans-serif;
color:rgba(5, 5, 5,0.5);
font-weight:bold;
}
.content-2{
display:flex;
gap:10px;
}
.content-2 span:last-child img{
width:12px;
height:12px;
padding-left:3px;
}